body,html{
    margin:0px;
    padding:0px;
    color:#CCC;
    font-family: Verdana, Arial, sans-serif;
}

#content{
    width:940px;
    margin-left: auto;
    margin-right: auto;
    background: #000;
    padding:10px;
}

img{
    float:right;
    margin: 20px 20px 0px 20px;
    border:5px groove #666;
}


h1,h2{
    font-style: italic;
    font-weight: normal;
    border-left: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding-left:10px; 
    width:400px;
}
h2{
    margin-left: 100px;
}

h2.anecdote{
    color:#FFF;
    padding:10px;
    margin-left: 150px;
    border-color: #C33;
    margin-bottom:0px;
    border-style:solid;
    border-width:3px 3px 0px 50px;
    
}

h2.anecdote + p{
    color:#FFF;
    width:400px;
    background-color: #666;
    padding: 10px;
    margin-left: 150px;
    margin-top: 0px;
    border-style:solid;
    border-color: #C33;
    border-width:0px 3px 3px 50px;
} 

p, ul{
    margin-left: 200px;
    font-size: 12px;
}

ul{
    margin: 10px 0px 10px 240px;
}
