body{

}
#content{
    width:300px;
    margin-left: auto;
    margin-right: auto;
    margin-top:200px;
}
img{
    width:30px;
    height:30px;
    margin-bottom: -10px;
    margin-left: 10px;
}

li{
    list-style: none;
    border:2px solid black;
    margin-top:20px;
    padding-top:10px;
    padding-bottom: 10px;
    text-align: center;
}
li ~ li{
    display:none;
}
li.zero{
    background-color: cyan;
}

li.one{
    background-color: greenyellow;
}

li.two{
    background-color: orange;
}

li.three{
    background-color: hotpink;
}
input{
    margin-left:auto;
    margin-right:auto;
}